body, html{
  margin: 0 !important;
  padding: 0 !important;
}

body{
  height: 100vh;
  /* width: 100vw; */
}

.gridLogin{
  margin-top: 15%;
  margin-right: 7% !important;
  margin-left: 7% !important;
  /* padding: 0 10% 0 10% !important; */
}

@media only screen and (max-width: 600px) {
  .gridLogin{
      margin-top: 15%;
      margin-bottom: 15%;
      padding: 0;
  }
}

.rememberMe{
  color: "#B4B4B4#";
  display: inline;
  font-size: 16px;
  margin-top: 10px !important;
}

.checkbox{
  margin-left: -11px !important;
}

.forgotPassword{
  text-decoration: underline;
  color: #AFB2B5;
  font-size: 15px;
  margin: auto !important;
}

.forgotPassword:hover{
  color: #000000;
  cursor: default
}

.signIn{
  color: #48DDB8;
  font-size: 40px !important;
  margin-top: 10%;
}

.moto{
  color: #383F71;
  font-size: 36px !important;
  margin-top: -3%;
}

.buttonText{
  margin: auto !important;
}


.inputLabel{
  font-size:16;
  margin-bottom: 2% !important;
  font-weight: bold;
  margin-top: 3px
}

/* .inputContainer{
  margin: 0;
} */

.inputTextfield{
  /* border: 1px solid #E2E2E2; */
  border-radius: 4px;
  background-color: #FCFCFC;
  /* height: 100%; */
}

.inputTextfieldError{
  background-color: #fef5f5;
}

.xIcon{
  color: red;
}


.formControl{
  margin:0;
}

.checkBoxContainer{
  margin-top: 2px !important;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.signInButton{
  width: 100%;
  background-color: #48DDB8 !important;
  height: 60px;
}

.createAccountButton{
  width: 100%;
  background-color: white !important;
  border: 1px solid #48DDB8 !important;
  height: 60px;
}







